/* open-sans-regular - latin */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v16-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/open-sans-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v16-latin-regular.svg#OpenSans') format('svg');
    /* Legacy iOS */
}

body {
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-size: 40px;
    font-family: 'Open Sans';
    color: white;
    text-shadow: 1px 1px 1px black;
}

@import './postcss.css'